**/*.DS_Store
**/*.pyc
**/.idea/*
**/.vscode/*
**/*.ini
**/*.p
**/*.log
**/*.pyomo.*
**/*.glpk.*

**/__pycache__/*

build/*
dist/*

data/*
!data/idf

energyplus/*

es_gui/resources/docs/sphinx/build/*
es_gui/tools/valuation/docs/*

QuESt.egg-info/*